.chartBar{height: 95%;
    width: 2%;
display: flex;
flex-direction: column;
align-items: center;}

.chartBar_inner{width: 90%;
    height: 90%;
    background-color: gray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.chartBar_fill{
    background-color: blue;
    border-radius: 15px;
    width: 100%;

}

.chartBar_label{
    
    font-weight: bold;
    font-size: medium;
    text-align: center;
    color: rgb(71, 69, 69);

}